*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);

}
.mainDiv{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: center;
    /* padding-left: 50px; */
    /* margin-left: 60px;
    margin-right: 80px;
    padding-right: 0px;
    margin-top: 60px; */
    /* margin-bottom: 60px; */
    margin: 90px;
}

.mainDivOne{
    display:flex;
    justify-content:center;
    text-align: center;
    color: white;
    /* padding: 90px; */
    /* background-color: hsl(277, 64%, 61%); */
    
}

.imgDiv{
    width: 120%;
    height: 70vh;
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.imgOverlay{
    /* width: 120%; */
    height: 70vh;
    background-color:hsl(277deg 100% 39.44% / 52%);;
}

.mainDivtwo {
    /* display: grid; */
    text-align: left;
    /* padding-right: 40px; */
    padding-left: 160px;
    padding-right: 160px
}
.mainDivOne h2{
    
    margin-top: 60px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
  
}

.mainDivOne p{
    margin-top: 20px;
    padding-bottom: 60px;
    font-size: 15px;
    font-weight: 50;
    font-family:'Lexend Deca', sans-serif;
    color: #B6BBC4;
}

.innerDiv{
    display: flex;
    justify-content: space-between; 
}
.mini{
    /* display: flex; */
    justify-content:center;
    text-align: left;
    
    
}

.mini p{
    font-size: 10px;
    text-transform: uppercase;
}

/* //////////////Mobile view/////// */

@media only screen and (max-width:725px) {
    .mainDivOne {
        display: grid   ;
        /* grid-template-columns: 100px;
        flex-direction: column; */
        justify-content: center;
        padding-bottom: 100px;
        align-items: center;
        text-align: center;
    }

.mainDivtwo{
    margin-top: 50%;
    text-align: center;
}
.innerDiv{
    text-align: center;
    align-items: center;
    display: grid;
    justify-content: center;
}


.imgDiv{
    width: 73%;
    
    height: 50vh;
   margin-top: 20px;
    position: absolute;
    top: 0;
    left: 1;
    
    z-index: 1;

    
}

.imgOverlay{
    width: 100%;
    height: 50vh;
}

.attribution{
    align-items: center;
    text-align: center;
    margin-right: 60px;
}

    
}

@media only screen and (max-width:500px) {
   
    .mainDivtwo{
        margin-top: 60%;
        text-align: center;
    }
   
    .imgDiv{
        width: 63%;
        
        height: 50vh;
       margin-top: 91px;
        position: absolute;
        top: 1;
        left: 1;
        margin-left: 73px;
        
        z-index: 1;
    
        
    }
    .attribution{
        align-items: center;
        text-align: center;
        margin-right: 60px;
    }
}